$white: #fff;
$black: #343434;
$yellow: #e6b31e;
$yellow-opacity: #e6b41e33;
$mobile: 480px;
$tablet: 768px;
$small-screens: 992px;
$large-screens: 1200px;

.ads {
    width: 100vw;
    position: relative;
    .bg-image {
        width: 100%;
        height: 550px;
        margin: 0 auto;
        background-position-y:center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        color: $white;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        .top-popular-home {
            width: 60%;
            .play-and-next {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                margin-bottom: 10px;
                div {
                    display: flex;
                    flex-direction: row;
                }
            }
            .info-box {
                height: 100px;
                padding: 10px;
                background-color: #ffffff39;
                backdrop-filter: blur(5px);
                overflow: hidden;
                .title-vote-box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    h1 {
                        font-size: 30px;
                        gap: 20px;
                    }
                    .vote-average {
                        padding: 4px 10px;
                        gap: 10px;
                        display: flex;
                        align-items: center;
                        background-color: $yellow;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }
                .info-release {
                    text-transform: uppercase;
                    span {
                        margin-left: 5px;
                    }
                }
                .info-overview {
                    margin-top: 6px;
                    text-transform: unset;
                }
            }
        }
    }
}