$white: #fff;
$black: #343434;
$yellow: #e6b31e;
$yellow-opacity: #e6b41e33;
$mobile: 480px;
$tablet: 768px;
$small-screens: 992px;
$large-screens: 1200px;

.ant-drawer .ant-drawer-content {
    background-color: $black;
    color: $white;
}

.ant-drawer .ant-drawer-close {
    color: $white;
    opacity: 0.5;
    transition: 200ms;
    &:hover {
        color: $white;
        opacity: 1;
    }
}

.ant-drawer .ant-drawer-header {
    border-bottom: 1px solid rgba(5, 5, 5, 0.151);
}

.ant-drawer .ant-drawer-title {
    color: $white;
}

.ant-btn {
    border-radius: unset;
}

.ant-drawer-content-wrapper {
    height: 600px !important;
}

.events-box {
    width: 100%;
    position: relative;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    .events {
        font-size: 1.7rem;
        cursor: pointer;
        margin: 0 10px 0 0;
        background-color: $yellow;
        padding: 5px;
        &.allInfo {
            display: none;
            @media screen and (max-width: $tablet) {
                display: block;
            }
        }
    }
}