$second-black: #2e2e2e71;

.filter-container {
    width: 100vw;
    height: 100vh;
    background-color: $second-black;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
}