$white: #fff;
$black: #343434;
$yellow: #e6b31e;
$yellow-opacity: #e6b41e33;
$mobile: 480px;
$tablet: 768px;
$small-screens: 992px;
$large-screens: 1200px;

:where(.css-dev-only-do-not-override-1i9hnpv).ant-spin {
    color: $white;
}

.load-more {
    width: 100%;
    position: relative;
    top: 60px;
    border: none;
    padding: 10px;
    background-color: $yellow;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 100px;
    transition: 200ms;
    display: block;
    @media screen and (max-width: $mobile) {
        width: 90%;
        margin: 0 auto;
        position: relative;
        top: 60px;
    }
}

.title {
    // font-size: 20px;
    color: $white;
    position: relative;
    top: 30px;
    @media screen and (max-width: $large-screens) {
        font-size: 30px;
    }
    @media screen and (max-width: $small-screens) {
        font-size: 26px;
    }
    @media screen and (max-width: $tablet) {
        font-size: 16px;
        font-weight: 500;
        width: 90%;
        margin: 0 auto;
    }
}

.trending {
    width: 100%;
    height: auto;
    z-index: 1000;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 14px;
    position: relative;
    top: 40px;
    box-sizing: border-box;
    transition: 200ms;
    @media screen and (max-width: $mobile) {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }
    @media screen and (max-width: $mobile) {
        display: grid;
        grid-template-columns: auto auto;
        width: 90%;
        margin: 0 auto;
    }
    .trending-movie-container {
        cursor: pointer;
        min-width: 24%;
        .trending-movie-box {
            display: flex;
            .trending-movie-info {
                display: none;
            }
        }
    }
    img {
        width: 100%;
        height: 100%;
    }
}