$white: #fff;
$black: #343434;
$yellow: #e6b31e;
$yellow-opacity: #e6b41e33;
$mobile: 480px;
$tablet: 768px;
$small-screens: 992px;
$large-screens: 1200px;

.right-info {
    h1 {
        @media screen and (max-width: $mobile) {
            font-size: 20px;
        }
    }
    .right-info-small {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        p {
            background-color: $yellow;
            padding: 2px;
        }
        @media screen and (max-width: $mobile) {
            display: flex;
            flex-direction: column;
        }
    }
    .right-overview-box {
        margin-top: 10px;
        width: 80%;
        @media screen and (max-width: $tablet) {
            width: 100%;
        }
    }
    .events-box {
        width: 100%;
        position: relative;
        margin-top: 10px;
        box-sizing: border-box;
        .events {
            font-size: 1.7rem;
            cursor: pointer;
            margin: 0 10px 0 0;
            background-color: $yellow;
            padding: 5px;
        }
    }
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
}