$white: #fff;
$black: #343434;
$yellow: #e6b31e;
$mobile: 480px;
$tablet: 768px;
$small-screens: 992px;
$large-screens: 1200px;

body {
    margin: 0;
    padding: 0;
    background-color: $black;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    @media screen and (max-width: $large-screens) {
        width: 90%;
    }
    @media screen and (max-width: $small-screens) {
        width: 90%;
    }
    @media screen and (max-width: $tablet) {
        width: 90%;
    }
    @media screen and (max-width: $mobile) {
        width: 100%;
    }
    header {
        @media screen and (max-width: $large-screens) {
            width: 100%;
        }
        @media screen and (max-width: $small-screens) {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        height: 80px;
        display: flex;
        align-items: center;
        a {
            display: flex;
            align-items: center;
            gap: 10px;
            color: $white;
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
            z-index: 1000;
            img {
                width: 20px;
            }
        }
        .hamburger-react {
            color: $yellow;
            display: none;
            z-index: 1000;
            @media screen and (max-width: $small-screens) {
                display: block;
            }
        }
        .links-box {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: 300;
            @media screen and (max-width: $small-screens) {
                display: none;
            }
            .links {
                display: flex;
                flex-direction: row;
                list-style: none;
                gap: 20px;
                padding: 20px;
                color: $white;
                li {
                    cursor: pointer;
                }
                .link-icon {
                    color: $yellow;
                    margin-right: 10px;
                    display: none;
                }
            }
            .user {
                display: flex;
                align-items: center;
                flex-direction: row;
                list-style: none;
                gap: 20px;
                .inp-and-sign {
                    display: flex;
                    align-items: center;
                    .search-input {
                        width: 180px;
                        height: 40px;
                        padding: 0 45px 0 15px;
                        background-color: transparent;
                        border: 1px solid grey;
                        border-radius: 30px;
                        outline: none;
                        color: $white;
                    }
                    .search-voice {
                        font-size: 1.5rem;
                        color: $white;
                        position: relative;
                        right: 40px;
                        cursor: pointer;
                    }
                }
                .sign-in {
                    height: 40px;
                    padding: 0 15px;
                    background-color: $yellow;
                }
            }
        }
        .links-box.active {
            width: 100vw;
            height: 100vh;
            background-color: $black;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            .links {
                width: 80%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                position: relative;
                top: 60px;
                .link-icon {
                    display: inline;
                }
                li {
                    padding: 5px 0;
                }
            }
            .user {
                width: 80%;
                margin: 0 auto;
                position: relative;
                top: 50px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
                .inp-and-sign {
                    width: 100%;
                    .search-input {
                        width: 100%;
                        border-radius: 0;
                    }
                }
                .sign-in {
                    height: 40px;
                    padding: 0 15px;
                    background-color: $yellow;
                }
            }
        }
    }
}